*{ /* asterisco -> global */
  box-sizing: border-box;
  /* link ex border box https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing */
  margin: 0;
  padding: 0;
  outline: 0;
  /* Reset nada maais é que zerar,resetar algumas estilizações Pré definidas como o espaços do H1 por exemplo*/
}

body{
  font-family: 'Roboto', sans-serif;
  height: 180vh; /* 180 View Port, além de tela cheia eu posso SCROLAR o site */
}
.container{
  background-color: black;
  height: 500px;
  margin: 50px;
}

.area{
  width: 100px;
  height: 100px;
}

.item-1{
  background-color: red;
}

.item-2{
  background-color: blue;
}




